<section class="hero is-primary is-bold is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
              <nav class="level is-mobile">
                  <div class="level-item has-text-centered">
                      <div>
                          <p class="title">WAP</p>
                          <p class="heading">write a program</p>
                      </div>
                  </div>
                  <!-- <div class="level-item has-text-centered">
                    <div>
                        <p class="title">A</p>
                        <p class="heading">a</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title">P</p>
                        <p class="heading">program</p>
                    </div>
                </div> -->
              </nav>
      </div>
    </div>
  </section>