<!-- header -->
<nav class="navbar is-bold" role="navigation" aria-label="main navigation">
    <!-- logo -->
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="">
        <img src="/assets/img/logo.png" width="60" height="48">
      </a>
      
      <a role="button" class="navbar-burger burger is-active" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  <!-- nav items -->
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary is-outlined" routerLink="signup">
              <strong>Sign up</strong>
            </a>
            <a class="button is-primary is-outlined" routerLink="login">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  